.clocks-container {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 75px;
    border-bottom: 1px solid white;

    @media screen and (max-width: 600px) {
        margin-top: 50px;
    }
}

.clock-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & h3 {
        font-size: 20px;
        font-weight: 400;
    }

    &__item {
        width: 120px;
        height: 180px;
        background: rgba(255, 255, 255, 0.26);
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        gap: 30px;

        @media screen and (max-width: 1000px) {
            width: 100px;
            height: 150px;
        }

        & p {
            font-size: 22px;
            font-weight: 400;
            margin-top: -30px;

            @media screen and (max-width: 1000px) {
                font-size: 16px;;
            }
        }

        & img {
            @media screen and (max-width: 1000px) {
                width: 80%;
            }
        }

        &__2 {
            height: 220px;

            @media screen and (max-width: 1000px) {
                height: 180px;
            }
        }
    }
}